<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="msheikh11_AdventureWorksLTConnectionString" connectionString="Data Source=bender.net.nait.ca,24680;Initial Catalog=msheikh11_AdventureWorksLT;Persist Security Info=True;User ID=msheikh11;Password=eagleFR2016"
      providerName="System.Data.SqlClient" />
    <add name="msheikh11_NorthwindConnectionString" connectionString="Data Source=bender.net.nait.ca,24680;Initial Catalog=msheikh11_Northwind;Persist Security Info=True;User ID=msheikh11;Password=eagleFR2016"
      providerName="System.Data.SqlClient" />
    <add name="msheikh11_AdventureWorksLTConnectionString" connectionString="Data Source=bender.net.nait.ca,24680;Initial Catalog=msheikh11_AdventureWorksLT;Persist Security Info=True;User ID=msheikh11;Password=eagleFR2016"
      providerName="System.Data.SqlClient" />
    <add name="ndeatsch1_NorthwindConnectionString" connectionString="Data Source=bender.net.nait.ca,24680;Initial Catalog=ndeatsch1_Northwind;Persist Security Info=True;User ID=ndeatsch1;Password=Jackson29"
      providerName="System.Data.SqlClient" />
    
  </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>

</configuration>
